# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build-OpenGL-Display-Desktop_Qt_5_10_0_GCC_64bit-Default/

build-OpenGL-Reshape-Desktop_Qt_5_10_0_GCC_64bit-Default/

build-OpenGL-Transformation-Desktop_Qt_5_10_0_GCC_64bit-Default/

*.user

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/cmake_install\.cmake

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeCache\.txt

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/3\.5\.1/CMakeCCompiler\.cmake

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/3\.5\.1/CMakeCXXCompiler\.cmake

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_C\.bin

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/3\.5\.1/CMakeDetermineCompilerABI_CXX\.bin

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/3\.5\.1/CMakeSystem\.cmake

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/3\.5\.1/CompilerIdC/CMakeCCompilerId\.c

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/3\.5\.1/CompilerIdCXX/CMakeCXXCompilerId\.cpp

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/cmake\.check_cache

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/CMakeDirectoryInformation\.cmake

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/CMakeOutput\.log

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/feature_tests\.bin

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/feature_tests\.c

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/feature_tests\.cxx

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/Makefile\.cmake

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/Makefile2

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/OpenGL-Camera\.dir/build\.make

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/OpenGL-Camera\.dir/cmake_clean\.cmake

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/OpenGL-Camera\.dir/CXX\.includecache

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/OpenGL-Camera\.dir/depend\.internal

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/OpenGL-Camera\.dir/depend\.make

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/OpenGL-Camera\.dir/DependInfo\.cmake

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/OpenGL-Camera\.dir/flags\.make

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/OpenGL-Camera\.dir/link\.txt

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/OpenGL-Camera\.dir/progress\.make

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/progress\.marks

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/CMakeFiles/TargetDirectories\.txt

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/Makefile

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/OpenGL-Camera

build-OpenGL-Camera-Desktop_Qt_5_10_0_GCC_64bit-Default/OpenGL-Camera\.cbp
